<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>djangoTwitter</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">

    <script>
      function disablePost(){
        var tweet = document.getElementById('tweet').value
        if(tweet != ""){
          document.getElementById('postInput').disabled = '';
        }
        else{
          document.getElementById('postInput').disabled = 'disabled';
        }
      }
    </script>
  </head>
  <body class="container">
    {% include 'navbarLeft.html' %}

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    <!-- template inheritance -->
    {% endblock %}


    {% include 'navbarRight.html' %}
  </body>
</html>