{% extends 'main.html' %}


{% block content %}


{% if request.user.is_authenticated %}

<div>

    <!-- Middle Content. New Tweet & Main Feed  -->
    <div id="main">
        <h3>Home</h3>

        <div id="tweet-filter">
            <a href="">For you</a>
            <a href="">Following</a>
        </div>
        
        <div id="tweet-box-outer">
            <div id="tweet-box">
                <a href="{% url 'profile' %}">
                    <img src="https://randomuser.me/api/portraits/thumb/men/75.jpg">
                </a>
                
                <form method="POST" action="">
                    {% csrf_token %}
                    <textarea id="tweet" type="tweet" name="tweet" placeholder="What is happening?!" oninput="disablePost()"></textarea>
                    
                    <input id="postInput" type="submit" value="Post" disabled="disabled"/>
                </form>
            </div>
        </div>
        
        
        {% for tweet in tweets %}
        <div id="feed">    
            <div>
                <h5>ProfileIcon</h5>
            </div>
            
            <div>
                <p>{{tweet.user.first_name}} {{tweet.user.last_name}} <a href="{% url 'user-profile' tweet.user.id %}">@{{tweet.user}}</a> - {{tweet.created}}</p>
                <p>{{tweet.tweet}}</p>
            </div>
        </div>
        {% endfor %}
        
    </div>

</div>

{% else %}

<div class="container">
    <div id="loginLogo">
        <img src="/static/images/logo.png">
    </div>

    <div>    
        <a href="{% url 'login' %}">Login</a>
    </div>
    
</div>

{% endif %}


{% endblock content%}