{% extends 'main.html' %}


{% block content %}


{% if request.user.is_authenticated %}

<div class="container">

    <!-- sidebar nav (links) -->
    <div id="sidebar-left">
        <h3>X</h2>
        
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Search</a></li>
            <li><a href="">Notifications</a></li>
            <li><a href="">Inbox</a></li>
            <li><a href="">Lists</a></li>
            <li><a href="">Communities</a></li>
            <li><a href="">Verified</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">...</a></li>
        </ul>
    </div>


    <!-- Middle Content. New Tweet & Main Feed  -->
    <div id="main">
        <h3>Home</h3>

        <div id="tweet-filter">
            <a href="">For you</a>
            <a href="">Following</a>
        </div>
        
        <div id="tweet-box">
            <h5>ProfileIcon</h5>
            
            <form method="POST" action="">
                {% csrf_token %}
                <textarea type="tweet" name="tweet" placeholder="What is happening?!"></textarea>

                <input type="submit" value="Post"/>
            </form>
        </div>
        
        
        {% for tweet in tweets %}
        <div id="feed">    
            <div>
                <h5>ProfileIcon</h5>
            </div>
            
            <div>
                <p>{{tweet.user.first_name}} {{tweet.user.last_name}} @{{tweet.user}} - {{tweet.created}}</p>
                <p>{{tweet.tweet}}</p>
            </div>
        </div>
        {% endfor %}
        
    </div>

    <!-- Right side bar. Search & What's Happening -->
    <div id="sidebar-right">
        <form method="GET" action="">
            <input type="text" name="q" placeholder="Search" />
        </form>

        <div>
            <h3>What's happening</h3>
        </div>
    </div>


</div>

{% else %}

{% endif %}


{% endblock content%}